<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Optional Port=3306; -->
    <add name ="ConnectionStringName" providerName="MySql.Data.MySqlClient" connectionString ="Persist Security Info=False;Data Source=localhost;Port=3306;User ID=root;Password=My$ql@Server#5.7;Initial Catalog=sampledb;"/>
  </connectionStrings>
</configuration>
