<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionStringName" providerName="using System.Data.SQLite" connectionString="Persist Security Info=False;Data Source=sampledb.sqlite3;"/>
    <!--<add name="ConnectionStringName" providerName="System.Data.SqlClient" connectionString="Persist Security Info=False;Data Source=(local);User ID=sa;Password=$ql@Server#2016;Initial Catalog=sampledb;"/>-->
    <!--<add name="ConnectionStringName" connectionString="Provider=MySqlProv; Persist Security Info=False;Data Source=localhost;User ID=root;Password=My$ql@Server#5.7;Initial Catalog=sampledb;"/>-->
    <!--<add name="ConnectionStringName" connectionString="PersistSecurityInfo=False;Server=RAJANI-DELL;uid=sa;pwd=sa@12345;Database=master;"/>-->
    <!--<add name="ConnectionStringName" connectionString="Persist Security Info=False;Data Source=RAJANI-DELL;Integrated Security=SSPI;Initial Catalog=master;"/>-->
    <!--<add name="ConnectionStringName" connectionString="Persist Security Info=False;Data Source=RAJANI-DELL;Trusted_Connection=SSPI;Initial Catalog=master;"/>-->
  </connectionStrings>
</configuration>
