<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- 
        Optional Port=3306; 
        Unknown connection string parameter 'Initial Catalog'.
        Initial Catalog=sampledb; 
        Database=sampledb;
    -->
    <add name ="ConnectionStringName" providerName="Devart.Data.PostgreSql" connectionString ="Persist Security Info=False;Data Source=localhost;Port=5432;User ID=postgres;Password=P0stgre$ql@Server#9.5;Database=sampledb;"/>
  </connectionStrings>
</configuration>
